* {
    font-family: 'Roboto', sans-serif;
    color: #283c6b;
}

#screen {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
}
#wbg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}
#slider {
    position: fixed;
    width: 100%;
    height: 320px;
    top: 50%;
    transform: translateY(-50%);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}



.TSGroup {
    display: inline-block;
    position: relative;
    height: 320px;
    width: 220px;
    top: 0px;
    cursor: pointer;
}
.TSName {
    position: relative;
    top: 32px;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.TSYear {
    position: relative;
    top: 32px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.TSSVG {
    position: relative;
    height: 220px;
    width: 220px;
}